{% extends 'base.html' %}

{% block content %}
<h2>View Tasks</h2>
<ul>
    {% for assignment in assignments %}
        <li>
            <p>Task: {{ assignment.task.title }}</p>
            <p>Due Date: {{ assignment.due_date }}</p>
            {% if assignment.submissions.exists %}
                <p>Already Submitted</p>
            {% else %}
                <a href="{% url 'task_assignment:submit_task' assignment.id %}">Submit Task</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}